.Navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0;
    top: 0%;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    width: 100vw;
    height: 70px;
    padding: 7px;
    border: 1px solid var(--BorderCard);
}

#navbar_icon{
    margin-Right: "7px";
    color: rgb(73, 73, 73);
}

#navbar_icon:hover{
    margin-Right: "7px";
    color: rgb(0, 0, 0);
}