.Navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0;
    top: 0%;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    width: 100vw;
    height: 9vh;
    padding: 7px;
    border: 1px solid var(--BorderCard);
}

#navbar_COC{
    font-weight: 700;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
}
.Nav_ITEM_DIV{
    margin-left: 9px;
    margin-right: 9px;
}
.navbar_icon{
    transition: all 0.8s;
    font-size: 25px;
    margin-Right: "7px";
    color: rgb(136, 136, 136);
}
.navbar_icon.active{
    color: rgb(3, 3, 3);
}

#NAV_ITEM_TEXT{
    color: black;
    font-weight: 450;
    font-size: 15px;
}
.NAV_ITEM_UNDERLINE{
    background-color: black;
    margin: 0 auto;
    transition: all 0.7s;
    width: 0%;
    height: 2px;
    opacity: 0;
}
.NAV_ITEM_UNDERLINE.active{ 
    width: 100%;
    opacity: 1;
}

#React_Router_Link{
    z-index: 3;
    text-decoration: none;
}