@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
      
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.Navbar {
    display: flex;
    flex-direction: row;
    z-index: 4;
    background-color: var(--Background_Navbar--) ;
    width: 100vw;
    padding: 7px;
}
.Navbar_art{
    display: none;
}
.NavBar_Title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
}
.NavBar_Menu{
    display: none;
    font-size: 25px;
    margin: 5px;
}
#navbar_COC{
    font-weight: 600;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    color: var(--Background_Navbar_text--)
}
.Nav_ITEM_DIV{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    margin-right: 9px;
}
.navbar_icon{
    transition: all 0.8s;
    font-size: 25px;
    margin-Right: "7px";
    color: var(--Background_Navbar_text_dark--)
}

.NAV_ITEM_TEXT{
    font-weight: 450;
    font-size: 15px;
    margin-bottom: 0px;
    transition:  all 0.5s;
    color: var(--Background_Navbar_text_dark--)
}

.React_Router_Link{
    z-index: 3;
    text-decoration: none;
    transition: all 0.5s;
}
.React_Router_Link.active *{
    color: var(--Background_Navbar_text--);
    font-weight: 700;
}
.NavBar_Collapse{
    display: flex;
}


@media  (max-width:948px){
    .Navbar {
        flex-direction: column;
        background-color: var(--Background_Navbar--) ;
        padding: 1px;
        
    }
    .Navbar *{
        color: white;
    }
    .Navbar_art.active{
        display: flex;
        width: 50%;
        margin-top: auto;
    }
    .navbar_icon{
        display: none;
    }
    #navbar_COC{
        color: rgb(255, 255, 255);
    }
    .Nav_ITEM_DIV{
        margin: 7px;
        flex-direction: row;
        justify-content: flex-start;
        padding: 2px;
    }
    .Nav_ITEM_DIV:active{
        font-weight: 700;
    }
    .NavBar_Menu{
        display:flex;
    }
    .NavBar_Collapse_parent{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .NavBar_Collapse{
        padding: 5px;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        transition: all 0.7s;
    }

    .NavBar_Collapse.active{
        display: flex;
    }
    .React_Router_Link{
        padding:3px;
    }
    .React_Router_Link.active {
        color: var(--Background_Navbar_text--);
        background-color: rgba(0, 0, 0, 0.404);
        border-radius: 7px;
        width: 100%;
        font-weight: 800;
    }
}