:root {
  --BackgroundBorder:#b1b1b1;
}
.JobsComponent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lavender;
  padding: 10px;
}
.JobsComponent_careerImage_div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: min-content;
}

.JobsComponent_careerImage_svg{
  width: 90%;
}
.JobsComponent_filter_div{
   display: none;
   font-size: 50px;
   position: fixed;
   right: 15px;
   bottom: 15px;
   color: rgb(28, 146, 214);
   z-index: 10;
}
.JobsComponent_filter_btn{
   zoom: 3;
}


.JobsComponent_btn_filter_icon{
  z-index: 2;
}


/* Job Card Component start++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.JobsCardComponent {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 7px;
  border: 1px solid var(--BorderCard);
  width: 80%;
  transition: all 0.6s;
}
.JobsCardComponent:hover {
  transform: scale(1.05);
}

.JobsCardComponent:hover .job_level{
  
  color: #2a9600;
}
.JobsCardComponent:hover #jobsCard_icon_location{
  color: #2e77ff;
}
.JobsCardComponent:hover #jobsCard_icon_salary{
  color: #f87000;
}
.JobsCardComponent:hover #jobsCard_icon_date{
  color: #e01212;
}
.JobsCardComponent_divider {
  width: 100%;
  padding: 10px;
  justify-content: start;
  display: flex;
}
.JobsCardComponent_divider_first{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 30%;
}
.JobsCardComponent_divider_second{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}
.JobsCardComponent_company_image{
  width: 35%;
  border-radius: 10px;
  margin-left: 0 ;
}
.JobsCardComponent_icon_div_Group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px;
}
.jobsCard_icon{
  font-size: 20px;
  color: #1f1f1f;
}
.jobsList {
  display: flex;
  flex-direction: column;
  flex: 2;
  overflow-y: scroll;
  height: 90vh;
  align-items: center;
}
.jobsList *{
  font-size: 15px;
}
::-webkit-scrollbar { 
  display: none;
}
.job_postedDate{
  height: 10pxs;
}
.cardTitle{
  margin-top: 10px;
  font-weight: 700;
}
.job_apply_Button{
  display: flex;
  font-style:bold;
  align-items: flex-start;
  font-size: 18px;
  margin-bottom: 2px; 
  color: #0077ff;
}

.job_level{
  font-weight: 600;
  margin-bottom: 7px;
  transition: all 0.6s;
}
.job_description{
  margin-bottom: 2px;
}
.list-group-flush{
  margin-left: 1px;
  max-height: 3px;
  color:#817f7f ;
  color: var(--FontColorLightGray);
  margin-left: 10px;
}
.JobComponent_Details{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
}
#jobsCard_icon_location{
  transition: all 0.6s;
}
#jobsCard_icon_salary{
  transition: all 0.6s;
}
#jobsCard_icon_date{
  transition: all 0.6s;
}
/* Job Card Component  END ------------------------------------------------------------------------------------*/

/* Job Details Float Component  START ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.JobDetailsFloat{
  padding: 15px;
  width: 20vw;
  background-color: #ffffffdc;
  border-radius: 10px;
  border: 1px solid var(--BorderCard);
  height: 50%;
  margin-right: 10px;
}
.JobDetailsFloat *{
  font-size: 15px;
}
#JobFloat_Title{
  font-weight: bold;
  color: var(--FontColorDarkGray);

}
#JobFloat_items{
}
/* Job Details Float Component  END ------------------------------------------------------------------------------------*/


/* Job Filter  Component  START++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.JobFilterFloat{
  padding: 15px;
  width: 25vw;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--BorderCard);
  margin-left: 9px;

}

.JobFilterFloat *{
  font-size: 15px;
}
.JobFilterFloat_Main{
  width: 90%;
}
#JobFilter_Title{
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: var(--FontColorDarkGray);
}
#JobFilter_items{
  color: var(--FontColorLightGray);
}
.JobFilter_divider_column{
  padding: 10px;
  justify-content: flex-start;
  display: flex;
  margin-left: 15px;
}
#filter_company_checkbox{
  margin-right: 10px;
}
#JobFilter_Type{
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  color: var(--FontColorDarkGray);
  font-weight: 600;
}
#input_filter_keyword{
  display: flex;
  width: 80%;
  margin-left: 15px;
  border-radius: 7px;
  border: 0.5px solid rgb(219, 219, 219);
  background-color:rgb(245, 245, 245) ;
}

.filter_buttons{
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  align-items: center;
  margin-bottom: 0px;
}
.filter_buttons *{
  background-color:rgb(245, 245, 245);
  border-radius: 7px;
  margin-top: 60px;
  font-size: 17px;
  border: 0.5px solid rgb(214, 214, 214);
  transition: all 0.7s;
  padding: 5px;

}
#btn_filter_showResult:hover{
  transform: scale(1.05);
}
#btn_filter_clearResult:hover{
  transform: scale(1.05);

}
/* Job Filter  Component  END++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/* Information Component  START++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Information {
  max-width: 15vw;
  position: fixed;
  top: 10vh;
  right: 0;
  z-index: 1;
}
/* Information Component  END ------------------------------------------------------------------------------------*/

@media(max-width:948px) {
  .JobsCardComponent{
    width: 95%;
  }
  .JobDetailsFloat{
  }
  .JobsComponent_careerImage_div{
    display: none;
  }
  .JobFilterFloat{
    flex: 0.9;
  }
  .jobsList{
     
  }
  .JobComponent_Details{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    
  }
  .JobComponent_Details *{
    font-size: 13px;
  }
  .list-group-flush{
    margin-left: 1px;
  }
}
@media(max-width:700px) {
  .JobsCardComponent{
    width: 97%;
  }
  .jobsList{
     
  }
  .JobFilterFloat{
    display: none;
  }
  .JobFilterFloat.active{
    display: flex;
    flex-basis: 100%;
  }
  
  
  .JobsComponent_filter_div{
    display: block;
  }
}

