:root {
  --BackgroundBorder:#b1b1b1;
}
.JobsComponent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lavender;
  padding: 10px;
}
.JobsComponent_careerImage_div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 21%;
}
.JobsComponent_btn_filter{
   display: none;
   font-size: 50px;
   position:fixed;
   right: 15px;
   bottom: 15px;
   border-radius: 50px;
   color: rgb(28, 146, 214);
}
/* Job Card Component start++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Card{
}


.JobsCardComponent {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 7px;
  border: 1px solid var(--BackgroundBorder);
}
.JobsCardComponent_divider {
  width: 100%;
  padding: 5%;
  justify-content: start;
  display: flex;
}
.JobsCardComponent_divider_first{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  margin: 5px;
  width: 30%;
  height:100%;
}
.JobsCardComponent_divider_second{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.JobsCardComponent_company_image{
  width: 35%;
  border-radius: 10px;
  margin-left: 0 ;
}

.jobsList {
  flex: 1;
  overflow-y: scroll;
  height: 90vh;
}
.jobsList *{
  font-size: 15px;
}
::-webkit-scrollbar { 
  display: none;
}
.job_postedDate{
  color: #087844;
  font-weight: 700;
}
.cardTitle{
  margin-top: 8%;
}
.job_apply_Button{
  display: flex;
  color: #0C67C2;
  font-style:bold;
  align-items: flex-start;
  font-size: 18px;
}

.job_apply_Button:hover {
  text-decoration: underline;

}
.list-group-flush{
  padding: 3px;
  max-height: 3px;
  color:#817f7f ;
  color: var(--FontColorLightGray);
}
.JobComponent_Details{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
/* Job Card Component  END ------------------------------------------------------------------------------------*/

/* Job Details Float Component  START ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.JobDetailsFloat{
  z-index: 1;
  padding: 15px;
  width: 20vw;
  background-color: #ffffffdc;
  border-radius: 10px;
  border: 1px solid var(--BorderCard);
  height: 50%;
}
.JobDetailsFloat *{
  font-size: 15px;
}
#JobFloat_Title{
  font-weight: bold;
  color: var(--FontColorDarkGray);

}
#JobFloat_items{
}
/* Job Details Float Component  END ------------------------------------------------------------------------------------*/


/* Job Filter  Component  START++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.JobFilterFloat{
  padding: 15px;
  width: 25vw;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--BorderCard);
  margin-left: 9px;

}
.JobFilterFloat *{
  font-size: 15px;
}
#JobFilter_Title{
  font-weight: bold;
  color: var(--FontColorDarkGray);
}
#JobFilter_items{
  color: var(--FontColorLightGray);
}
.JobFilter_divider_column{
  padding: 10px;
  justify-content: flex-start;
  display: flex;
  margin-left: 15px;
}
#filter_company_checkbox{
  margin-right: 10px;
}
#JobFilter_Type{
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  color: var(--FontColorDarkGray);
  font-weight: 600;
}
/* Job Filter  Component  END++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/* Information Component  START++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Information {
  max-width: 15vw;
  position: fixed;
  top: 10vh;
  right: 0;
  z-index: 1;
}
/* Information Component  END ------------------------------------------------------------------------------------*/
@media(max-width:948px) {
  .JobsCardComponent{
  }
  .JobDetailsFloat{
  }
  .JobsComponent_careerImage_div{
    display: none;
  }
  .JobFilterFloat{
    flex: 0.5;
  }
}
@media(max-width:700px) {
  .JobFilterFloat{
    display: none;
  }
  .JobFilterFloat.active{
    display: flex;
    flex: 9;
  }
  

  
  .JobsComponent_btn_filter{
    display: block;
  }
}

