.CoursesComponent{
    height: 90vh;
    overflow-y: scroll;
    background-color: var(--BackgroundColor);
}
.Courses_Row{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}
.CourseCardComponent{
    min-width: 30%;
    padding: 20px;
    height: auto;
}

.CourseCardComponent_inner{
    height: auto;
    transition: all 0.5s;
    backdrop-filter: blur(0px);
}

.CourseCardComponent_inner:hover{
    transform: scale(1.1);
}

#CourseCardComponent_image{
     position: fixed;
     z-index: -1;
     border-radius: 10px;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     border-radius: 10px;
     border: 1px solid rgb(197, 197, 197);
}


#CourseCardComponent_btnOpen{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: auto;
    color: rgb(167, 166, 166);
    transition: all 0.7s;
}
#CourseCardComponent_btnOpen:hover{
    width: 65px;
    color: rgb(255, 255, 255);
}
.CourseCardComponent_divider{
 display: flex;
 width: 100%;
 height: 100%;
 justify-content: space-between;
 opacity: 0;
 border-radius: 10px;
 transition: all 0.7s;
 backdrop-filter: blur(10px);
}
.CourseCardComponent_divider:hover{ 
  opacity: 1;
}
.CourseCardComponent_divider_first{
    padding: 10px;
    padding-top:15px;
    text-align: left;
    width: 70%;
}
.CourseCardComponent_divider_second{
    width: 20%;
}
#CourseCardComponent_courseName{
    color: rgb(228, 228, 228);
    font-weight: 900;
}
#CourseCardComponent_courseTotalQuestions{
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(247, 247, 247);
}
#CourseCardComponent_courseTotalQuestions_span{
    font-size: 1.4rem;
    font-weight: 1000;
}
.CourseCardComponent_courseRating{
  position: fixed;
  top: 10px;
  right: 15px;
}
#CourseCardComponent_courseRating_stars{
    
    margin: 1px;
    color: rgb(255, 255, 255);
}
/*/////////////////////////////////// QUIZ COMPONENT ////////////////////////////////////////////////////*/
.QuizComponent_FULLSCREEN{
  background-color: rgb(224, 224, 224);
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////// QUESTIONS COMPONENT //////////////////////////////////////////////////////////////*/
p{
    font-size: 30px;
  }
  #span{
    color: rgb(255, 238, 0);
    margin: 5px;
    font-size: 15px;
  }
  #btn{
    color: #000000;
    padding: 10px;
    background-color: #ffffff;
    border-radius:10px;
    border-color: #e6e6e67c;
    transition: all  0.7s;
    
  }
  #btn:hover{
    background-color: #cacaca;
    
  }
  #btn.right_answer{
    background-color: #3cff00;
    color: #000000;
  }
  #btn.wrong_answer{
    color: #ffffff;
    animation: shake 0.5s;
    background-color: #ff2a2a;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  #Resultcorrect{
    width: 100%;
    font-size: 20px;
    color: #51fc02;
    font-weight: 800;
  }
  #Resultwrong{
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    color: #ff0000;
  }
  .answer-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
  }
  .questions-section{
    font-size: 10px;
    width: 50%;
  }
  .QuestionCount{
    font-size: 40px;
    display: flex;
    align-items:baseline;
  }
  #question{
    margin: 60px;
    margin-top: 5px;
    margin-left: 0;
    display: flex;
    text-align: left;
  }
  .checkbox{
    margin: 60px;
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 10px;
    display: flex;
    text-align: left;
  }
  
  .Result{
    padding: 20px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:left;
    transition: all ease-in-out 0.1s;
    background-color: #fcfcfc17;
    border: 1px solid rgb(117, 117, 117);
    border-radius:25px;
  }
  .right_div{
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  .wrong_div{
    
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
  }
  .LiveResults{
    position: fixed;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-bottom: 20px;
  }
  .Quiz_Panel_Main{
    display: flex;
    flex-direction: row;
    transition: all 0.7s;
  }
  .quiz{
    width: 80vw;
    height: 60vh;
    display: flex;
    color : #ffffff;
    padding:80px;
    background-color: #fcfcfc17;
    border: 1px solid rgb(117, 117, 117);
    border-radius:25px;
    margin-top: 70px;
  }
  .Quiz_NAME{
    position: fixed;
    font-size: 35px;
    left: 10px;
    right: 10px;
    margin-right: auto;
    color: #ffffff;
    font-weight: 900;
      
  }
  .Parent_MAIN{
    width: 100%;
    height: 90%;
    backdrop-filter: blur(15px);
  }
  .Parent{
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    width: 80%;
    height: 80vh;
  }
  .Next{
    margin-top: 30px;
    margin-left: auto; 
    margin-right: auto; 
    padding: 15px;
    font-size: 30px;
    color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius:60px;
    background-color: #0a1831;
  }
  
  
  .ScoreCard{
    height: 60%;
    transition: all 0.7s;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .div_ScoreCard{
    height: 60%;
    color : #ffffff;
    background-color: #fcfcfc17;
    padding:80px;
    border: 1px solid rgb(49, 49, 49);
    border-radius:25px;
    margin-top: 150px;
  }
  
  
  .Nav{
    display: flex;
    flex-direction: row;
    background-color: #0a1831e8;
  }
  .Account{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin-left: auto;
    margin-right: 10px;
    padding: 5px;
    max-width: max-content;
    border-radius:15px;
  }
  #UserName{
    width: 20px;
    margin-left: 10px;
    font-size: 15px;
  }
  #logo_account{
  }
  #select_option{
    margin-left: 10px;
    color: #ffffff;
  }
  .Nav_Appname{
    
    color: #ffffff;
  }
  #App_Name{
    font-family: 'Brush Script MT', cursive;
    margin-left: 15px;
    font-size: 20px;
  }
  #reload{
  transition: all 0.7s;
  }
  
  #BestScore{
    color: #ffee00;
    font-size: 18px;
      margin-Left:'0';
      margin-Right:'auto';
  }
  #CurrentScore{
    margin-bottom: 40px;
  }
  #quiz_Note{
    margin: 5px;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }
  #quiz_exit{
    font-size: 29px;
    transition: all 0.7s;
    color:#ffffff;
  }
  #quiz_exit:hover{
    font-size: 39px;
    color:#ff3232;
  }
  #checkbox_showResult{
    font-size: 12px;
  }
  @media (max-width:948px) {
    .CourseCardComponent{
      width: 50%;
  }
  .CourseCardComponent_inner:hover{
    transform: scale(1.05);
   }
   .CourseCardComponent_inner{
   }
  }
  @media (max-width:600px) {
    .CourseCardComponent{
      width: 100%;
  }
  
  }