.Loading {
    transition: all 0.7s;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1;
}

.Loading_inner {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
    font-size: 15em;

    
}
.anim{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: black;
}
#btn_Login{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 30vw;
    font-size: 1rem;
    border-radius: 30px;
    background-color:rgb(255, 73, 60);
    color: #ffffff;
    border: 1px solid var(--BorderCard);
}
#btn_Continue{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 30vw;
    font-size: 1rem;
    border-radius: 30px;
    background-color:rgb(255, 73, 60);
    color: #ffffff;
    border: 1px solid var(--BorderCard);
}