:root {
    --BackgroundColor: rgb(243, 239, 239);
    --BackgroundColorTransparent: rgba(255, 255, 255, 0);
    --BorderCard:#E0DFDC;
    --FontColorDarkGray:#3780c9;
    --FontColorLightGray:#3d3d3d;
}

html {
    background-color: var(--BackgroundColor);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* Divider (for Style) ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Use below P tag for divider  */
/* <p className="divider_line"></p> */
.divider_line {
    border-top: 1px solid rgba(187, 187, 187, 0.521);
  }


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Global Flex START ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.flexBox_column {
    background-color: var(--BackgroundColor);
    justify-content: center;
    display: flex;
}

.flexBox_row {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.flexBox_column_joined {
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

.UserDetails {
    margin: 10px;
    max-width: 15vw;
    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;
    z-index: 1;
}
/* Global Flex END ------------------------------------------------------------------------------------*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Job Card Component start++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Card{
      width: '100%';
}

.JobsCardComponent {
    padding: auto;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 7px;
    font-size: 3.5px;
    max-width:45vw;
    border: 1px solid var(--BorderCard);
}
.JobsCardComponent_divider {
    width: 100%;
    padding: 5%;
    justify-content: start;
    display: flex;
}
.JobsCardComponent_divider_first{
    font-size: 1em;
    width: 30%;
}
.JobsCardComponent_divider_second{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.job_apply_Button{
    display: flex;
    color: #0C67C2;
    font-size: 5em;
    font-style:bold;
    align-items: flex-start;
 }

.jobsList {
    height: auto;
    flex: 1;
    max-width: 50%;
    margin: 10px;
}
.job_postedDate{
    align-items: flex-start;
    color: #087844;
    font-size: 4em;
    font-weight: 700;
}
.cardTitle{
    margin-top: 8%;
    font-size: 3em;
}
.job_apply_Button:hover {
    text-decoration: underline;

  }
.list-group-flush{
    max-height: 3px;
    font-size: 4em;
    color:#817f7f ;
    color: var(--FontColorLightGray);
}
.JobComponent_Details{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
/* Job Card Component  END ------------------------------------------------------------------------------------*/



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Job Details Float Component  START ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.JobDetailsFloat{
    margin: 20px;
    padding: 15px;
    width: 20vw;
    background-color: #ffffff;
    border-radius: 10px;
    position: fixed;
    font-size: 5px;
    top: 9vh;
    border: 1px solid var(--BorderCard);
}
#JobFloat_Title{
    font-size: 3.7em;
    font-weight: bold;
    color: var(--FontColorDarkGray);

}
#JobFloat_items{
    font-size: 3em;
}
/* Job Details Float Component  END ------------------------------------------------------------------------------------*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* Job Filter  Component  START++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.JobFilterFloat{
    margin: 20px;
    padding: 15px;
    width: 25vw;
    background-color: #ffffff;
    border-radius: 10px;
    position: fixed;
    right: 0;
    top: 9vh;
    bottom: 0vh;
    font-size: 0.7em;
    border: 1px solid var(--BorderCard);

}
#JobFilter_Title{
    font-size: 2em;
    font-weight: bold;
    color: var(--FontColorDarkGray);
}
#JobFilter_items{
    font-size: 1.2em;
    color: var(--FontColorLightGray);
}
.JobFilter_divider_column{
    padding: 10px;
    justify-content: flex-start;
    display: flex;
    margin-left: 15px;
}
#filter_company_checkbox{
    margin-right: 10px;
}
#JobFilter_Type{
    display: flex;
    align-items: flex-start;
    font-size: 1.7em;
    margin-left: 5px;
    color: var(--FontColorDarkGray);
    font-weight: 600;
}
/* Job Filter  Component  END++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Information Component  START++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Information {
    margin: 10px;
    max-width: 15vw;
    position: fixed;
    top: 10vh;
    right: 0;
    z-index: 1;
}
/* Information Component  END ------------------------------------------------------------------------------------*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.JobsComponent{
    margin-top: 10vh;
    height: 85vh;
}
.ReferalComponent{
    margin-top: 10vh;
    height: 85vh;
}

.CoursesComponent{
    margin-top: 10vh;
    height: 85vh;
}

.SeeweComponent{
    margin-top: 10vh;
    height: 85vh;
}
.SeeweComponent{
    margin-top: 10vh;
    height: 85vh;
}
/* CRACK off Campus Component  START ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.HomeComponent {
    margin-top: 10vh;
    height: 85vh;
    /*font-size: 4px;*/
}
.PlacementComponent{
    margin-top: 10vh;
    height: 85vh;
}
.CompilerComponent{
    margin-top: 10vh;
    height: 85vh;
}
/* CRACK off Campus Component  END ------------------------------------------------------------------------------------*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*//* 

NAVBAR Component  START++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0;
    top: 0%;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    width: 100vw;
    height: 70px;
    padding: 7px;
    border: 1px solid var(--BorderCard);
}

/* NAVBAR Component  END------------------------------------------------------------------------------------*/

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*//*

Media Responsive Query  START++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 800px) {

    .JobsCardComponent {
        font-size: 4px;
        max-width: 60%;
    }
    .jobsList {
        
        max-width: 100%;
        margin: 10px;
    }
    .JobDetailsFloat{
        visibility: hidden;
    }
    .JobFilterFloat{
        max-width: 40%;
    }
    .Navbar {
    }
    .JobFilterFloat{
        width: 35vw;
    }
}
@media screen and (max-width: 700px) {
    .JobsCardComponent {
        font-size: 3.2px;
        max-width: 62%;
    }
    .jobsList {
        max-width: 100%;
        margin: 10px;
    }
    .JobDetailsFloat{
        visibility: hidden;
    }
    .JobFilterFloat{
        width: 32vw;
    }
    .LoginSignUp_divider_second{   
        visibility: hidden;
    }
}
@media screen and (max-width: 600px) {
    .JobsCardComponent {
        font-size: 3px;
        max-width: 100%;
    }
    .jobsList {
        
        max-width: 100%;
        margin: 10px;
    }
    .JobDetailsFloat{
        visibility: hidden;
    }
    .JobFilterFloat{
        visibility: hidden;
    }
    .Navbar {
    }
}
@media screen and (max-width: 500px) {
    .Navbar {
    }
}
/* Media Responsive Query  END ------------------------------------------------------------------------------------*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/