:root {
    --BackgroundColor: rgb(236, 233, 233);
    --BackgroundColorTransparent: rgba(255, 255, 255, 0);
    --BorderCard:#d4d4d4;
    --FontColorDarkGray:#3780c9;
    --FontColorLightGray:#3d3d3d;
    
    --Background_ThemeColor--:#0073b1;
    --Background_Navbar--:#0073b1;
    --Background_Navbar_text--:#ffffff;
    --Background_Navbar_text_dark--:#96bbca;
}


html {
    background-color: var(--BackgroundColor);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* Divider (for Style) ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Use below P tag for divider  */
/* <p className="divider_line"></p> */
.divider_line {
    border-top: 1px solid rgba(187, 187, 187, 0.521);
  }

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Global Flex START ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.flexBox_column {
    background-color: var(--BackgroundColor);
    justify-content: center;
    display: flex;
}

.flexBox_row {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.flexBox_column_joined {
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

.UserDetails {
    margin: 10px;
    max-width: 15vw;
    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;
    z-index: 1;
}
/* Global Flex END ------------------------------------------------------------------------------------*/